.container {
    border: 5px solid red;
    display: grid;
    width: 75vw;
    height: 75vh;
    margin: 30px auto;
}

.container > * {
    height: 100%;
}

.grid-color {
    background-color: #000000;
    transition: all 0.5s;
}